@page
@model MyTravelBook.Web.Pages.Errors.ErrorModel
@{
    ViewData["Title"] = "Error";
}
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="background error-background">
    <div class="glassy error">
        <div class="container">
            <h1>
                An error has occured
            </h1>
            <p>
                Maybe the page is not available at the moment.
                Log in and try again!
            </p>
        </div>
    </div>
</body>
</html>

