@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using MyTravelBook.Dal.Entities

@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @foreach (var trip in Model.Trips)
    {
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-4">
                    <div class="row no-gutters">
                        <h6>
                            Name of trip
                        </h6>
                    </div>
                    <div class="row no-gutters">
                        <h3>
                            <a>
                                @trip.TripName
                            </a>
                        </h3>
                    </div>

                </div>
                <div class="col-4">
                    <div class="row no-gutters">
                        <h6>
                            Days until end
                        </h6>
                    </div>
                    <div class="row no-gutters">
                        <h3>
                            @trip.Progress
                        </h3>
                    </div>

                </div>
                <div class="col-4">
                    <div class="row no-gutters">
                        <h6>
                            Last known location
                        </h6>
                    </div>
                    <div class="row no-gutters">
                        <h3>
                            @trip.Location
                        </h3>
                    </div>
                </div>
                </div>
        </div>
    }

}
