@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using MyTravelBook.Dal.Entities


@inject SignInManager<User> SignInManager
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="index-background background">
    @if (SignInManager.IsSignedIn(User))
    {
        @foreach (var trip in Model.Trips)
        {
            <div class="card mb-3 glassy trip-row">
                <a class="card-link" asp-page="Trip" asp-route-id="@trip.Id">
                    <div class="row no-gutters content">
                        <div class="col-4">
                            <div class="row no-gutters">
                                <h6>
                                    Name of trip
                                </h6>
                            </div>
                            <div class="row no-gutters">
                                <h3>
                                    @trip.TripName
                                </h3>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="row no-gutters">
                                <h6>
                                    Days until end
                                </h6>
                            </div>
                            <div class="row no-gutters">
                                <h3>
                                    @trip.Progress
                                </h3>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="row no-gutters">
                                <h6>
                                    Last known location
                                </h6>
                            </div>
                            <div class="row no-gutters">
                                <h3>
                                    @trip.Location
                                </h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    }
    <script type="text/javascript" src="~/js/vanilla-tilt.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".glassy"), {
            max: 5,
            speed: 400,
            glare: true,
            "max-glare": 0.5
        });
    </script>
</body >
</html >


