@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var trip in Model.Trips)
            {
                <div>
                    <h1>
                        @trip.TripName
                    </h1>
                    <p>
                        @trip.Location
                    </p>
                    <p>
                        @trip.Progress
                    </p>
                </div>
            }
