@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using MyTravelBook.Dal.Entities


@inject SignInManager<User> SignInManager
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="index-background background">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="title">
            Upcoming events
        </h1>

        @foreach (var trip in Model.Trips)
        {
            <div class="card mb-3 glassy trip-row">
                <a class="card-link" asp-page="Trip" asp-route-id="@trip.Id">
                    <div class="row no-gutters content">
                        <div class="col-4">
                            <div class="row no-gutters">
                                <h6>
                                    Name of trip
                                </h6>
                            </div>
                            <div class="row no-gutters">
                                <h3>
                                    @trip.TripName
                                </h3>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="row no-gutters">
                                <h6>
                                    Days until end
                                </h6>
                            </div>
                            <div class="row no-gutters">
                                <h3>
                                    @trip.Progress
                                </h3>
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="row no-gutters">
                                <h6>
                                    Last known location
                                </h6>
                            </div>
                            <div class="row no-gutters">
                                <h3>
                                    @trip.Location
                                </h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    }
    else
    {
        <div class="index-page">
            <h1 class="title mb-2">
                Welcome to MyTravelBook!
            </h1>
            <div class="row">
                <div class="col-4">
                    <div class="glassy">
                        <div class="container">
                            <h5>
                                What is MyTravelBook?
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Sem integer vitae justo eget magna fermentum iaculis eu. Nunc congue nisi vitae suscipit tellus mauris a diam. Risus in hendrerit gravida rutrum. Nibh praesent tristique magna sit amet purus gravida quis blandit. Leo a diam sollicitudin tempor id eu nisl nunc. Facilisi nullam vehicula ipsum a arcu. Convallis a cras semper auctor neque vitae. Id aliquet lectus proin nibh nisl condimentum. 
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="glassy">
                        <div class="container">
                            <h5>
                                Join us now!
                            </h5>
                            <p>
                                Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Tincidunt dui ut ornare lectus sit amet est placerat in. Vel elit scelerisque mauris.
                            </p>
                            <div class="mb-2">
                                <a class="btn btn-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </div>
                            Already have an account?
                            <div>
                                <a class="btn btn-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="glassy">
                        <div class="container">
                            <h5>
                                The benefits of MyTravelBook
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio. Bibendum est ultricies integer quis auctor elit sed vulputate.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio. Bibendum est ultricies integer quis auctor elit sed vulputate.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et odio. Bibendum est ultricies integer quis auctor elit sed vulputate.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    }


    <script type="text/javascript" src="~/js/vanilla-tilt.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".glassy"), {
            max: 5,
            speed: 400,
            glare: true,
            "max-glare": 0.5
        });
    </script>
</body>
</html>


